
:root {
    --mainColor: #15202b;
    --secondaryColor: #192734;
    --borderColor: #164d56;
    --previewShadow: #111921;
  }
  .green-text {
    color: #55efc4;
  }
  .blue-text {
    color: #76e8f9;
  }
  .yellow-text {
    color: #fed330;
  }
  .cream-text {
    color: #fae8c5;
  }
  .orange-text {
    color: #f7d1cb;
  }
  .s1 {
    margin-top: 4rem;
    overflow: auto;
    border-radius: 8px;
  }
  
  .main-container {
    margin: 0 auto;
  }
  
  .greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;
  }
  
  .intro-wrapper {
    background-color: var(--secondaryColor);
    border-radius: 8px;
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nav-wrapper nav-wrapper"
        "left-column right-column";
  }
  .logos-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .nav-wrapper {
    border-radius: 8px 8px 0 0;
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
  }
  
  #navigation a {
    color: var(--mainText);
  }
  
  #navigation {
    margin: 0;
    padding: 10px;
  }
  
  #navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .dots-wrapper {
    display: flex;
    padding: 10px;
  }
  
  #dot-1 {
    background-color: #fc6058;
  }
  
  #dot-2 {
    background-color: #fec02f;
  }
  
  #dot-3 {
    background-color: #2aca3e;
  }
  
  .browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
  
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  }
  
  .left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #profile_pic {
    display: block;
    margin: 0 auto;
  
    height: 300px;
    width: 300px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
  }
  
  #settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
  }
  
  .right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
  
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  #preview-shadow {
    background-color: var(--previewShadow);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
  }
  
  #preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: #192734cc;
    padding: 15px;
    position: relative;
  }
  
  .corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
  }
  
  #corner-tl {
    top: -5px;
    left: -5px;
  }
  .logos {
    width: 120px;
    height: 3.2rem;
  }
  
  #corner-tr {
    top: -5px;
    right: -5px;
  }
  
  #corner-br {
    bottom: -5px;
    right: -5px;
  }
  
  #corner-bl {
    bottom: -5px;
    left: -5px;
  }
  
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
  }
  
  @media screen and (max-width: 800px) {
    .company {
      margin: 0.3rem;
    }
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav-wrapper"
            "left-column"
            "right-column";
    }
    .logos {
      width: auto;
      height: 3.2rem;
      margin: 1rem;
    }
    .logo-text {
      text-align: center;
    }
    .logos-wrapper, .footer {
      flex-direction: column;
      align-items: center;
    }
    .right-column {
        justify-content: center;
    }
  }
  
  @media screen and (max-width: 400px) {
    .company {
      margin: 0.3rem;
    }
    .logos-wrapper {
      flex-direction: column;
      align-items: center;
    }
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }
  
    #preview {
        width: 280px;
    }
  }